@font-face {
    font-family: 'Brigsa';
    src: url('fonts/Brigsa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Animals';
    src: url('fonts/Animals-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gravis';
    src: url('fonts/Gravis\ Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url(https://fr.getfonts.net/allfont.css?fonts=courier-new);

html {
    background-image: url("../img/fond3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
}

body {
    margin: 0;
    font-family: 'Brigsa', sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
    min-height: 100vh;
    background-color: transparent;}


h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #2c3e50;
    font-family: 'Brigsa', sans-serif;
    font-size: 60px;
    margin-bottom: 60px;
}

p {
    font-size: 1.1em;
    color: white;
    font-family: 'Courier New', arial;
    font-family: 'Brigsa', sans-serif;
}

.pals-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.pal-card {
    background-color: #ffffff;
    border-radius: 12px;
    width: 300px;
    height: 150px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.agri-card{
    background-image: url("../img/agriculture.png");
}

.mineur-card{
    background-image: url("../img/minage.png");
}

.craft-card{
   background-image: url("../img/crafting.png");
}

.petrole-card{
   background-image: url("../img/petrole.png");
}

.reproduction-card{
   background-image: url("../img/reproduction.png");
}

div.pal-card.white-card > div.info > h2 {
    color: white;
}

.pal-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.pal-card .info h2 {
    margin: 0 0 10px 0;
    font-size: 1.6em;
    color: #34495e;
}

.pal-card .info p {
    margin: 0;
    font-size: 1em;
    color: #7f8c8d;
}

@media (max-width: 600px) {
    .pals-container {
        flex-direction: column;
        gap: 20px;
    }

    .pal-card {
        width: 90%;
        height: auto;
    }
}

.btn-home {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.btn-home:hover {
    background-color: #dadddf;
}

.pal-card {
    position: relative; 
    width: 300px;
    height: 200px;
    background-color: #eee;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.pal-card .info {
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.80);
    color: white;
    z-index: 1;
    font-family: 'Brigsa', sans-serif;
}



